<div id="content_container">







</div> <!-- END CONTENT_CONTAINER  -->


<!-- <div class="two columns footer_art_signed_in">
  <%= image_tag("big5-icon-grid-black-rhinoceros-adam-whitcroft.png", class: "footer_glyph_rhino") %>
  <p class = "art_credit">art by: Adam Whitcroft</p>
</div> -->