<div id="content_container">
  <div class="pricing center">
    <div class="row">
      <h3>Change Current Plan</h3>
      <p class="section-description u-max-full-width center"> Please note: <br>Your current plan will be prorated and your new plan will begin immediately.</p>
      <%= render "profiles/change" %>
    </div>
  </div>
</div>