<div id="content_container">
  <article class="signed_in_section_header row u-max-full-width">
    <h4>My Stats</h4>
    <p>subtext</p>
  </article>


  

  <div = class="row">
    <div = class="six columns">
      <h5></h5>
    </div>
  </div>




</div> <!-- END CONTENT_CONTAINER  -->



<div class="two columns footer_art_signed_in">
  <%= image_tag("big5-icon-grid-african-lion-adam-whitcroft.png", class: "footer_glyph_lion") %>
  <p class = "art_credit">art by: Adam Whitcroft</p>
</div>