<div id="content_container">
Profile Show
</div>


<div class="two columns footer_art_signed_in">
  <%= image_tag("big5-icon-grid-african-leopard-adam-whitcroft.png", class: "footer_glyph_leopard") %>
  <p class = "art_credit">art by: Adam Whitcroft</p>
</div>