<!-- MAIN CONTENT -->
<div id="content_container">



  <article class="signed_in_section_header row u-max-full-width">
    <% if @current_user_subscription_true.count > 0 %>
      <h4>Active Subject</h4>
      <p>Your are current receiving questions for this subject.</p>
    <% end %>
  </article>

<!-- ACTIVE SUBJECT -->
  <%= render 'profiles/active_subject' %>  

  
  <article class="signed_in_section_header row u-max-full-width">
    <h4>Choose a Subject</h4>
    <ol>
      <li>Review the subject cards</li>
      <li>&nbsp&nbsp&nbsp&nbsp&nbsp Activate a subject &nbsp&nbsp&nbsp&nbsp&nbsp</li>
      <li>Receive questions via SMS</li>
    </ol>
  </article>


<!-- INACTIVE SUBJECTS -->
  <%= render 'profiles/inactive_subjects' %>  
  















</div> <!-- END CONTENT_CONTAINER  -->

<!-- 
  <div class="two columns footer_art_signed_in">
    <%= image_tag("big5-icon-grid-african-elephant-adam-whitcroft.png", class: "footer_glyph_elephant") %>
    <p class = "art_credit">art by: Adam Whitcroft</p>
  </div>
 -->