<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Welcome to Text Prep! We’re going to help you study while you are on the go.</p>

    <p>Two things you need to start receiving questions:</p>
    
    <ol>
      <li>Enter your mobile phone in your profile.</li>
      <li>Go to the Subjects section and activate the subject you want to receive questions for.</li>
    </ol>
    
    <p>You will receive 5 SMS messages per day at 12pm, 2pm, 4pm, 6pm and 8pm (EST). Don't forget to answer all the questions to stay prepared for your exam.</p>
    
    <p>If you want to review your response history, head on over to your dashboard and you will find all the questions sent to you, along with the correct answer.</p>
    
  </body>
</html>