<!-- META -->
<% content_for :head do %>
<% end %>


<div class = "row login_sign_up_forms">
  <div class = "tweleve columns">
    <%= render "devise/passwords/edit_password" %><br><br>
  </div>
</div>

