<!-- not used -->
<!-- LOGIN/SIGNUP MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<button data-reveal-id="myModal" class="button modal_btn">LOG IN</button>

<div id="login_modal" class="reveal-modal remove-whitespace" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <div class="row modalContent">
    <div class="large-6 columns auth-plain">
      <div class="signup-panel left-solid">
        <p class="welcome">Registered User</p>
        <%= render "devise/sessions/modal_login" %>
      </div>
    </div>
  </div>
  <div class="row modalContent">
    <div class="large-6 columns auth-plain">
      <div class="signup-panel newusers">
        <p class="welcome"> New User?</p>
        <p>By creating an account with us, you will be able to move through the checkout process faster, view and track your orders, and more.</p><br>
        <a class="button modal_btn">Sign Up</a></br>
      </div>
    </div>   
  </div>    
</div>   

<!-- CSS -->
<!-- 


// Styles for signup panels
@import 'default_styles';


#login_modal {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align:center;
  background-color: rgba(0,0,0,.9);
  z-index: 20;
}

.modalContent {
  margin: 0 5rem;
  display: inline-block;
  width: 30%;
  height: 30%;
  position: relative;
  top: 12rem;
}

.close-reveal-modal {
  font-size: 7rem;
  position: absolute;
  right: 20rem;
}

.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.left-solid {
  margin-top: 0px;
  margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  a {
    color: $color_grey;
  }
  i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
  }
  form {
    input, span {
      height: 50px;
    }
  }
  .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
  }
  p {
    font-size: 13px;
    font-weight: 200;
    text-align: center;
  }
  .button {
    margin-left: 35%;
  }
}


.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.left-solid {
  margin-top: 0px;
  margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
  a {
    color: $color_grey;
  }
  i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
  }
  form {
    input, span {
      height: 50px;
    }
  }
  .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
  }
  p {
    font-size: 13px;
    font-weight: 200;
    text-align: center;
  }
  .button {
    margin-left: 35%;
  }
}

 -->

<!-- MODAL JS -->
<!-- 

  $('.modal_btn').on('click', function(event) {
    // $(event.currentTarget).show(); //currentTarget and target work
    $('#login_modal').show();
    $('body').css('overflow', 'hidden')
    // return false;
    // event.stopPropagation(); // event.stopPropagation(); is crucial to avoid event bubbling
  })


  $('.close-reveal-modal').on('click', function() {
    $('#login_modal').hide();
  })

  $('.modalContent').on('click', function(event) {
    $(event.currentTarget).show(); //currentTarget and target work
    event.stopPropagation(); // event.stopPropagation(); is crucial to avoid event bubbling
  })

  $('#modalOverlay').on('click', function(event) {
    $(event.currentTarget).hide();
  })
 -->