<!-- META -->
<% content_for :head do %>
<% end %>



<div class = "row login_sign_up_forms">
  <div class = "five columns">
    <%= render "devise/sessions/login" %><br><br>
  </div>
  <hr><br>
  <div class = "five columns">
  <!-- <div class="vertical_line"></div> -->
    <%= render "devise/registrations/sign_up" %>
  </div>
</div>

