
<div class = "row login_sign_up_forms">
  <div class = "five columns">
<h2>Log in</h2>
    <%= render "devise/sessions/login" %>
  </div>
  <div class = "five columns">
<h2>New User?</h2>
    <%= render "devise/registrations/sign_up" %>
  </div>
</div>

