$color_blue: #1E2749;
$color_blue_light: #4BB4E8;
$color_white_off: #FAFAFF;
$color_white_plain: #FFF;
$color_grey: #30343F;
$color_green: #179388;
// $font_family_headers: 'Ubuntu', sans-serif;
// $font_family_content: 'Lato', sans-serif;
$font_family_headers: 'Raleway', sans-serif;;
$font_family_content: 'Raleway', sans-serif;;
$font_bold: 600;
$font_normal: 400;
$font_size_p: 1.25em;
$font_size_logo: 1.5em;


@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,600,700,800,900);