@import 'default_styles';

$sidebar-width: 8em;
$topbar-height: 4em;
// $nav-color: #333;


.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
  background-color: $color_green;
  width: $sidebar-width;
  .menu_item {
    float: left;
    width: $sidebar-width;
    .icon {
      color: $color_white_off;
      font-size: $font_size_p * 2;
      padding-top: 0.25em;
    }
    .item {
      margin-top: -2em;
      color: $color_white_off;
      font-size: $font_size_p;
      font-weight: $font_bold;
    }
  }
  .menu_item:hover, .menu_item:active {
      background-color: $color_blue_light;
    }
}

#content_container {
  position: absolute;
  left: $sidebar-width;
  top: 0;
  right: 0;
}
.text-center {
  color: $color_white_off;
  max-height: 100%;
  margin-top: 0.1em;
}

.horizontal_nav {
  color: $color_white_off;
  position: absolute;
  left: $sidebar-width;
  right: 0;
  height: $topbar-height;
  background-color: $color_green_light;
  p {
    max-height: 100%;
    margin: 1rem;
    font-size: $font_size_p + 0.1;
    text-align: right;
  }
}






