@import 'default_styles';

.accordion {
  background: none;
  border: none;
  box-shadow: none;
  a {
  font-size: $font_size_p - 0.1;
  text-transform: uppercase;
  width: 100%;
  background:none;
  }
  .accordion-title {
    line-height: 1.5em;
  }
  .accordion-content {
    font-size: $font_size_p - 0.2;
    background-color: transparent;
  }
  a:hover {
    opacity: .85 ;
    // color: $color_white_off;
    // background-color: $color_blue_light;
    border-top: solid 2px $color_blue_light;
    border-bottom: solid 2px $color_blue_light;
    background: none;
  }
  a:active, a:visited {
    background: none;
  }
}



