@import 'default_styles';

.table_header {
  th {
    text-align: center;
    padding: 1em 0 1em 2em;
    font-size: $font_size_p;
    font-weight: $font_bold;
  }
}

.table_data {
  td {
    padding: 1em 0 1em 2em;
    text-align: center;
  }
  .table_data_left {
    text-align: left;
  }
}

.pagination {
  text-align: center;
  a { 
    display: inline;
  }
}