@import 'default_styles';

body {
    // max-width: 100%;
    // overflow-x: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    // background-color: $color_blue;
}

a, h1, h2, h3, h4, h5, h6 {
  // margin: 0; in skeleton
  // padding: 0; in skeleton
  font-family: $font_family_headers;
}

p {
  margin: 0;
  padding: 0;
  font-family: $font_family_content;
}




// HEADER
#main_nav {
  background: transparent;
  height: 6em;
  // margin: 3em auto 0 auto;
  margin: 0 auto;
  padding: 2em 1em;
  width: 85%;
  text-align: center;
  .menu-text {
    font-size: 2em;
  }
  li {
    // padding: 0 1.3em;
    padding: 0 1em;
    display: inline; 
    list-style: none;
    // font-weight: $font_bold;
    font-size: $font_size_p;
    color: $color_grey;
  }
  a {
    // font-weight: $font_normal;
    color: $color_grey;
    text-decoration: none;
  }
  a:hover {
    border-bottom: solid 2px $color_blue_light;
  }
  .logo_nav_link {
    color: $color_green;
  }
  .logo_nav_link:hover {
    border: none;
  }
}




// FOOTER
footer {
  margin: 5rem 1rem 0;
  .form_footer_left {
    text-align: center;
    a {
      // font-weight: $font_normal;
      color: $color_grey;
      text-decoration: none;
    }
    a:hover {
      border-bottom: solid 2px $color_blue_light;
    }
  }
  .form_footer_right {
    font-size: $font_size_p;
    @extend .form_footer_left;
  }
  label {
    font-size: 1em;  
  }
  textarea, input[type="text"], input[type="email"] {
    font-size: 1em;  
  }
  .made_in {
    text-align: center;
  }
  .footer_glyph {
    height: 5.5rem;
    width: 5.5rem;
  }
}





