@import 'default_styles';

body {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    background-color: $color_white_off;
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: $font_family_headers;
}

p {
  margin: 0;
  padding: 0;
  font-family: $font_family_content;
}




// HEADER
.main_nav {
  background: transparent;
  height: 6em;
  margin: 0 auto;
  padding: 2em 1em;
  width: 85%;
  text-align: center;
  .menu-text {
    font-size: 2em;
  }
  li {
    padding: 0 0.489em;
    display: inline; 
    list-style: none;
    font-size: $font_size_p;
    color: $color_grey;
  }
  a {
    color: $color_grey;
    text-decoration: none;
  }
  a:hover {
    border-bottom: solid 2px $color_blue_light;
  }
  .logo_nav_link {
    color: $color_green;
    font-size: $font_size_logo;
  }
  .logo_nav_link:hover {
    border: none;
  }
}

.text_enlarge_italic {
  font-size: $font_size_logo;
  font-style: italic;
}


// FOOTER
footer {
  margin: 5rem 1rem 0;
  .form_footer_left {
    text-align: center;
    a {
      color: $color_grey;
      text-decoration: none;
    }
    a:hover {
      border-bottom: solid 2px $color_blue_light;
    }
  }
  .form_footer_right {
    font-size: $font_size_p;
    @extend .form_footer_left;
  }
  label {
    font-size: 1em;  
  }
  textarea, input[type="text"], input[type="email"] {
    font-size: 1em;  
  }
  .footer_art_home {
    text-align: center;
  }
  .footer_glyph {
    height: 5.5rem;
    width: 5.5rem;
  }
}

.footer_art_signed_in {
  text-align: right;
  margin-right: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  .footer_glyph_buffalo {
    margin: 0 1rem;
    height: 5.5rem;
    width: 7.5rem;
  }
  .footer_glyph_lion {
    margin: 0 1.6rem;
    height: 5.5rem;
    width: 6rem;
  }
  .footer_glyph_elephant {
    margin: 0 1rem;
    height: 5.5rem;
    width: 7.5rem;
  }
  .footer_glyph_rhino {
    margin: 0 1.4rem;
    height: 5.5rem;
    width: 6.5rem;
  }
  .footer_glyph_leopard {
    margin: 0 1.2rem;
    height: 5.5rem;
    width: 7rem;
  }
}
.art_credit {
  font-size: $font_size_p - 0.75;
}





