// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'default_styles';


.subject_card {
  background: #fff;
  padding: 1.75rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  .card_title {
    font-weight: normal;
    padding: 0 0.5rem 0.5rem 0;
    text-align: right;
    @media only screen and (max-width: 64em) {
      padding-top: 1rem;
    }
  }
  .card_subsection {
    color: $color_blue_light;
    text-transform: uppercase;
    font-weight: $font_bold;
    text-align: center;
    padding: 0.5rem 0 0 0;
  }
  .card_content {
    padding: 0.875rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
}
  
  .activate_link, .deactivate_link {
    position: relative;
    // left: 30rem;
    left: 2rem;
  }

.row.wide {
  max-width: rem-calc(1200);
}


.image_div {
  height: 45rem;
  .profile_image {
    position:relative;
    right: 5em;
    height: 18em;
  }
}

