<div id="content_container">

</div>


<div class="two columns footer_art_signed_in">
  <%= image_tag("big5-icon-grid-african-lion-adam-whitcroft.png", class: "footer_glyph_lion") %>
  <p class = "art_credit">art by: Adam Whitcroft</p>
</div>